<section>

    <div class="d-flex justify-content-between">
      <h4>Lista de Equipos</h4>
      <a routerLink="/equipo/create" class="btn btn-primary">Agregar Equipo</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>IP</th>
        <th>Marca</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let equipo of equipos">
        <td>{{ equipo.id }}</td>
        <td>{{ equipo.name }}</td>
        <td>{{ equipo.ip }}</td>
        <td>{{ equipo.marca }}</td>
        <td>
          <a href="#" [routerLink]="['/equipo/', 'edit', equipo.id  ]" class="btn btn-primary">Editar</a>
          <button type="button" (click)="deleteEquipo(equipo.id)" class="btn btn-danger">Borrar</button>
          <!-- <button type="button" (click)="ping(equipo.id, equipo)" class="btn btn-warning">Ping</button> -->
        </td>
      </tr>
    </table>
    
    <br>
    
    <div class="d-flex justify-content-center">
      <a routerLink="/equipo/resumen" class="btn btn-primary">Ver estadisticas</a>
    </div>

    <div class="loader" *ngIf="awaiting">Loading...</div>
 </section>
